body{
	background-color: #FAEBD7;
	border: 10px solid #25274d;
	/*border: 20px solid #1f2833;*/
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	font-family: 'Anton', sans-serif;
}
h2{
	font-size: 2.0rem;
	text-align: center;
}

.quote{
	border-left: 5px solid #25274d;
	padding-left: 5px;
}

.date{
	color: #2e9cca;
	text-transform: uppercase;
	letter-spacing: 0.2rem;

}

hr{
	background-color: White;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.post{
	margin-bottom: 25px;
}
